{% extends "auctions/layout.html" %}
{% block body %}
<ul>
  {% for category in category_names %}
    <li><a href="{% url 'category_list' category %}">{{ category }}</a></li>
  {% endfor %}
  {% for listing in listings %}
<div class="card auction-item mb-4 shadow">
        {% if listing.image_url %}
        <div class="card-image-wrapper">
            <img class="card-img-top listing-img" src="{{ listing.image_url }}" alt="{{ listing.title }} photo">
        </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <div>
                <strong>Price:</strong> ${{ listing.starting_bid }}
            </div>
            <div class="mb-2">
                <strong>Category:</strong> {{ listing.category }}
            </div>
            <div class="auction-list-date">
                {{ listing.created_on }}
            </div>
        </div>
</div>
{% endfor %}
</ul>
{% endblock %}