{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
{% for listing in listing %}
<div class="card auction-item mb-4 shadow">
    <a href="{% url 'listing' listing.id %}"> 
        {% if listing.image_url %}
        <div class="card-image-wrapper">
            <img class="card-img-top listing-img" src="{{ listing.image_url }}" alt="{{ listing.title }} photo">
        </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <div>
                <strong>Price:</strong> ${{ listing.starting_bid }}
            </div>
            <div class="mb-2">
                <strong>Category:</strong> {{ listing.category }}
            </div>
            <div class="auction-list-date">
                {{ listing.created_on }}
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}