{% extends "auctions/layout.html" %}
{% block body %}
<h2>{{ listing.title }}</h2>
<div class="card">
    <div class="card-body">
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="{{ listing.title }} image">
        {% endif %}
        <p>Description: {{ listing.description }}</p>
        <p>Starting Bid: ${{ listing.starting_bid }}</p>
        <p>Current Price: ${{ listing.current_price }}</p>
        <p>Category: {{ listing.category }}</p>
        <p>Created On: {{ listing.created_on }}</p>

        {% if user.is_authenticated %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if listing.active_status %}
            <form method="post" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                <button type="submit" name="add_watchlist">Add to Watchlist</button>
                <button type="submit" name="remove_watchlist">Remove from Watchlist</button>
            </form>
            {% endif %}
            {% if user == listing.created_by and listing.active_status %}
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    <button type="submit" name="close_auction">Close Auction</button>
                </form>
            {% elif user != listing.created_by and listing.active_status %}
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                       {{ bid_form.as_p }}
                    <button type="submit" name="place_bid">Place Bid</button>
                </form>
            {% elif user != listing.created_by and not listing.active_status %}
                <p>Bidding on this listing is closed.</p>
            {% endif %}
            <h3>Comments</h3>
            {% if comments %}
             <ul>
                {% for comment in comments %}
                    <li>{{comment.comment_text }} by {{comment.commenter}}</li>
                {% endfor %}
             </ul>
            {% else %}
                <p>No Comments yet</p>
            {% endif %}
            <form method="post" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" name="add_comment">Add Comment</button>
            </form>
            <!-- Display comments and number of comments -->
        {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a> to interact with this listing.</p>
        {% endif %}
    </div>
</div>

{% endblock %}